<div class="p-4">
  <div class="flex justify-between items-center mb-3">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="🔍 Search contact..."
      class="w-1/3"
    />

    <button
      pButton
      type="button"
      label="Add Contact"
      icon="pi pi-plus"
      (click)="addContact()"
    ></button>
  </div>

  <p-table [value]="filteredContacts" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
