<style>
  .gap-2 {
    display: flex;
    align-items: center;

    gap: 10px;
  }
  .mb-3 {
    margin-bottom: 10px;
  }
</style>
<div class="p-4">
  <div class="flex justify-between items-center mb-3 gap-2">
    <button
      pButton
      type="button"
      label="Add Contact"
      icon="pi pi-plus"
      (click)="addContact()"
    ></button>

    <button
      pButton
      label="Add Contact Popup"
      icon="pi pi-plus"
      (click)="openAddDialog()"
    ></button>
  </div>

  <p-table [value]="contacts" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>City</th>
        <th>Country</th>
        <th>Tags</th>
        <th>Created At</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
      <tr (click)="openRecord(contact)">
        <td>{{ contact.id || "-" }}</td>
        <td>{{ contact.name || "-" }}</td>
        <td>{{ contact.email || "-" }}</td>
        <td>{{ contact.phone || "-" }}</td>
        <td>{{ contact.company || "-" }}</td>
        <td>{{ contact.job_title || "-" }}</td>
        <td>{{ contact.city || "-" }}</td>
        <td>{{ contact.country || "-" }}</td>
        <td>{{ contact.tags || "-" }}</td>
        <td>{{ contact.created_at | date : "yyyy/MM/dd" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
